.App {
  align-items: center;
}

body {
  align-items: center;
  background-color: #053B50;
}

h1 {
  /* position: absolute; */
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: #EEEEEE;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  font-family: "Lucida Handwriting", cursive;
}

Table{
  position: absolute;
  background-color: #64CCC5;
  box-sizing: border-box;
  display: block;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 50px;
  margin: 50px 50px 50px 50px;
}