.App {
  align-items: center;
}

body {
  align-items: center;
  background-color: #053B50;
}

h1 {
  /* position: absolute; */
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: #EEEEEE;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  font-family: "Lucida Handwriting", cursive;
}

Table{
  position: absolute;
  text-align: center;
  background-color: #EEEEEE;
  /* box-sizing: border-box; */
  display: block;
  width: 400px;
  height: 350px;
  margin: 50px 50px 30px 50px;
  margin-left: 680px;
  /* box-shadow: 0 2px 4px 0 rgba(238,238,238, 0.75),
	            0 25px 50px 0 rgba(0,0,0, 0.75); */
  display: flex;
  flex-direction: column;
  border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0,1,0, 30);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.input{
  box-sizing: content-box;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 300px;
  height: 30px;
  margin-top: 10px;
}

.input::placeholder {
  text-align: center;
  font-style: italic;
}


button{
  margin-left: 8px;
  border-color: blue;
}

li{
  list-style-type:none;
  font-size:22px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}