.App {
  align-items: center;
}

body {
  align-items: center;
  background-color: #053B50;
  margin: 0;
  padding: 0;
}

h1 {
  /* position: absolute; */
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: #EEEEEE;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  font-family: "Lucida Handwriting", cursive;
}

Table {
  position: fixed;
  text-align: center;
  background-color: #EEEEEE;
  overflow: auto;
  margin: 50px 50px 30px 50px;
  margin-left: 680px;
  box-shadow: 0 2px 4px 0 rgba(238, 238, 238, 0.75),
    0 25px 50px 0 rgba(0, 0, 0, 0.75);
  table-layout: auto;
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 300px;
  height: 30px;
  margin-top: 5px;
}

.input::placeholder {
  text-align: center;
  font-style: italic;
}

input[type="checkbox"] {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #555;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #555;
}


.input[type="checkbox"]:before {
  width: 2px;
  height: 4px;
  margin-right: 1px;
  background-color: #000;
  border-radius: 550%;
  -webkit-border-radius: 550%;
  -moz-border-radius: 550%;
  -ms-border-radius: 550%;
  -o-border-radius: 550%;
}


button {
  align-items: right;
  right: 5px;
  top: 8px;
  border-radius: 50%;
  width: 30px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  border: none;
  background-color: #053B50;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}


li {
  list-style-type: none;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*.destroy{
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
}*/

.checked {
  text-decoration: line-through;
  list-style-type: circle;
}

label {
  text-align: left;
  content: "_";
}